[submodule "AUI.Svg/3rdparty/nanosvg"]
	path = AUI.Svg/3rdparty/nanosvg
	url = https://github.com/memononen/nanosvg
[submodule "AUI.Core/3rdparty/glm"]
	path = AUI.Core/3rdparty/glm
	url = https://github.com/g-truc/glm
[submodule "AUI.Core/3rdparty/zlib"]
	path = AUI.Core/3rdparty/zlib
	url = https://github.com/Alex2772/zlib
[submodule "AUI.Crypt/3rdparty/openssl-cmake"]
	path = AUI.Crypt/3rdparty/openssl-cmake
	url = https://github.com/Alex2772/openssl-cmake