CellView {
    border: 3px outset #fff;
    background-color: #cecece;
    width: 26dp;
    height: 26dp;
}
CellView:hover {
    background-color: #ddd;
}

CellView[flag="false"]:active, CellView[open="true"] {
    border: 1em solid #8c8c8c;
    background-color: #cecece;
}
CellView[flag="true"] {
    background: url(':minesweeper/flag.svg');
}
.grid {
    border: 3dp inset #fff;
    padding: 3dp;
}
MinesweeperWindow[dead] CellView[bomb="true"] {
    background: url(':minesweeper/bomb.svg');
}
MinesweeperWindow[dead] CellView[bomb="true"][flag="true"] {
    background: url(':minesweeper/bomb_flag.svg');
}
MinesweeperWindow[dead] CellView[bomb="false"][flag="true"] {
    background: url(':minesweeper/no_bomb_flag.svg');
}
CellView[red] {
    background-color: #f00;
    border: none;
}
.window-title-content AButton {
    margin: 4px 2px;
}