#nav-sync {
    display: none;
}
.SRPage .SREntry {
    font-size: 10pt;
    padding: 4px 5px;
}
#nav-tree .arrow {
    opacity: 1;
}
/*
#nav-tree-contents > ul > li > .children_ul > li:first-child {
    display: none;
}*/
.contents img {
    max-height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.module-list {
    display: flex;
    text-align: center;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}

.module-list .module {
    min-width: 200px;
    text-align: left;
    background: #444;
    padding: 12px;
    text-decoration: none;
    flex-grow: 1;
    flex-basis: 0;
    gap: 12px;
}
.module-list .module h1 {
    font-size: 16pt;
    margin: 0 0 4px;
    color: #fff;
}
.module-list .module p {
    font-size: 12pt;
    margin: 0;
    color: #fff;
}
/*
#main-menu > li:first-child {
    display: none;
}
*/

#nav-tree-contents > ul > li {
    border-top: 1px solid var(--separator-color);
    padding: 8px 0;
}

#nav-tree-contents > ul > li > .item > .label > a {
    font-weight: 500;
    font-size: 16px;
    color: white !important;
}

.item > a, .item > a > span.arrow {
    background: none !important;
}

.classindex .alphachar {
    position: relative;
}

.classindex .alphachar a {
    position: absolute;
    background: none !important;
    color: var(--page-foreground-color) !important;
    padding-top: 4px;
}

div.SRPage {
    background: none !important;
}

.odd {
    background: none !important;
}

.even {
    background: var(--odd-color) !important;
}

table.doxtable th {
    background: var(--tablehead-background) !important;
    color: var(--tablehead-foreground) !important;
    font-weight: 600 !important;
    font-size: var(--page-font-size) !important;
}

table.doxtable td, table.doxtable th {
    border-color: var(--separator-color) !important;
}

.footer-inner {
    opacity: 0.7;
    font-size: var(--nav-font-size-level1);
    line-height: normal !important;
    margin: 48px 0 96px;
}

.mscgraph img {
    max-height: none;
    width: 100%;
    filter: invert(0.88);
}

.dark-mode-keep-imgs img {
    filter: none !important;
}

.aui-toc-contents {
    display: flex !important;
    justify-content: space-between;
}

.contents-rails-right {
    width: 300px;
    display: none;
    padding: 0 20px;
}

@media screen and (min-width: 1350px) {
    .contents-rails-left {
        width: calc(100% - 300px);
    }

    .contents-rails-right {
        display: block;
    }
}

.aui-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: var(--fragment-comment);
    opacity: 0.7;
}

.aui-toc a {
    color: var(--fragment-comment) !important;
    padding-left: 4px;
    display: block;
}

.aui-toc-hash {
    margin-left: 8px;
    opacity: 0.4;
    cursor: pointer;
    font-style: italic;
    transition: 0.3s;
}

.aui-toc-hash:hover {
    opacity: 0.7;
}

.aui-toc h1 {
    font-size: 13pt;
    margin: 0;
    margin-top: 20px;
}

.aui-toc h2 {
    font-size: 11pt;
    margin: 12px;
    margin-left: 12px;
}

.aui-toc h3 {
    font-size: 9pt;
    margin: 12px;
    margin-left: 24px;
}

.aui-toc a[active] {
    box-shadow: -3px 0;
}

/* TARGET HIGHLIGHT */

h1, h2, h3, h4, h5, h6 {
    position: relative;
}

:target {
    animation: blink-animation 0.3s ease-in-out 2;
    -webkit-animation: blink-animation 0.3s ease-in-out 2;
    text-align: right;
    position: absolute;
    background: #ff0 !important;
    top: 0;
    left: -10px;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    padding: 0 12px;
}
:target:hover {
    opacity: 0.3 !important;
}

@keyframes blink-animation {
    to {
        opacity: 0.4;
    }
}
@-webkit-keyframes blink-animation {
    to {
        opacity: 0.4;
    }
}

.aui-toc-extras::before {
    display: block;
    height: 2px;
    width: 30px;
    background: var(--fragment-comment);
    content: ' ';
    margin: 24px 0 8px;
}

.aui-toc-extras {
    font-size: var(--navigation-font-size);
}

a .fa {
    margin-right: 8px;
}